@import "tailwindcss";

@layer base {
  button,
  [role="button"] {
    cursor: pointer;
  }
}

@media screen and (update: fast) and (prefers-reduced-motion: no-preference) {
  :root {
    @apply scroll-smooth;
  }
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
